*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --docs-text: rgb(var(--kemet-color-black));
  --docs-background: rgb(var(--kemet-color-gray-100));
  --docs-card-background: rgb(var(--kemet-color-white));
  --docs-header-background: rgb(var(--kemet-color-white));
  --docs-header-foreground: rgb(var(--kemet-color-black-50));
  --docs-link-color: rgb(var(--kemet-color-primary));
  --docs-code-color: #303030;
  --docs-code-background: rgb(var(--kemet-color-white));
  --docs-header-font: 'Open Sans', sans-serif;
  --docs-intro-subtitle-color: rgb(var(--kemet-color-black) / 75%);
  --docs-intro-bracket-color: rgb(var(--kemet-color-black) / 25%);
  --docs-search-background: rgb(var(--kemet-color-white));
  --docs-search-foreground: rgb(var(--kemet-color-black));
  --docs-hljs-blue: #032f62;
  --docs-hamburger-color: rgb(var(--kemet-color-black) / 50%);
  --docs-accordion-color: rgb(var(--kemet-color-black));
  --docs-box-shadow1: var(--kemet-elevation-layer-1);
  --docs-box-shadow2: var(--kemet-elevation-layer-2);
  --docs-box-shadow3: var(--kemet-elevation-layer-3);
  --docs-primary-to-white: rgb(var(--kemet-color-primary));
}

html[polarity="dark"] {
  --docs-text: rgb(var(--kemet-color-gray-100));
  --docs-background: rgb(var(--kemet-color-gray-950));
  --docs-card-background: rgb(var(--kemet-color-black));
  --docs-header-background: rgb(var(--kemet-color-gray-900));
  --docs-header-foreground: rgb(var(--kemet-color-white) / 33%);
  --docs-link-color: rgb(var(--kemet-color-sky-400));
  --docs-code-color: rgb(var(--kemet-color-gray-100));
  --docs-code-background: rgb(var(--kemet-color-black));
  --docs-intro-subtitle-color: rgb(var(--kemet-color-white) / 33%);
  --docs-intro-bracket-color: rgb(var(--kemet-color-white) / 50%);
  --docs-search-background: rgb(var(--kemet-color-black));
  --docs-search-foreground: rgb(var(--kemet-color-gray-100));
  --docs-hljs-blue: rgb(var(--kemet-color-sky-500));
  --docs-hamburger-color: rgb(var(--kemet-color-white) / 50%);
  --docs-accordion-color: rgb(var(--kemet-color-white));
  --docs-primary-to-white: rgb(var(--kemet-color-white));
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--docs-text);
  background: var(--docs-background);
}

a {
  color: var(--docs-link-color);
  text-decoration: none;
}

p {
  margin: 2rem 0;
  line-height: 2;
}

li {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--docs-header-font);
}

h1 {
  font-size: 2rem;
}

h1,
h2 {
  margin: 3rem 0 0 0;
}

table {
  width: 99%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  vertical-align: top;
  padding: 1rem;
  border: 1px solid var(--kemet-color-black-25);
}

td:first-child {
  white-space: nowrap;
}

pre {
  box-shadow: var(--docs-box-shadow1);
  background: var(--docs-code-background) !important;
}

code {
  color: var(--docs-code-color) !important;
  padding: 4px 8px;
  text-shadow: none !important;
  background: var(--docs-code-background) !important;
}

pre code {
  display: block;
  line-height: 1.5;
}

body > kemet-drawer {
  display: block;
  --kemet-drawer-width: 80vw;
  --kemet-drawer-color: rgb(var(--kemet-color-white));
  --kemet-drawer-background: rgb(var(--kemet-color-primary));
}

body > kemet-drawer > [slot="content"] {
  margin-top: 4rem;
}

body > kemet-drawer > [slot="content"] > div {
  display: grid;
  gap: 3rem;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: minmax(0, 1fr);
}

@media only screen and (min-width: 768px) {
  body > kemet-drawer > [slot="content"] > div {
    grid-template-columns: 240px minmax(0, 1fr);
  }
}

body > kemet-modal {
  z-index: 999;
  display: block;
  text-align: center;
  padding-top: 12rem;
  background-color: rgba(0,0,0,0.75);
}

body > kemet-modal > * {
  display: inline-block;
  margin: auto;
}

[slot="content"] > * {
  position: relative;
  z-index: 2;
}

[slot="content"] > .intro {
  background-color: var(--docs-background);
  background-image: url(/assets/images/kemet.png);
  background-repeat: no-repeat;

  @media only screen and (min-width: 768px) {
    padding: 4rem 0 2rem 0;
    background-size: 100% auto;
  }

  &::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.85;
    z-index: 1;
    background: var(--docs-background);
  }
}
