{% include 'partials/head.html' %}
  <docs-header></docs-header>
  <kemet-drawer effect="scale" side="right">
    <nav slot="navigation">
      <docs-nav location="mobile"></docs-nav>
    </nav>
    <section slot="content">
        {{ content | safe }}
      <docs-footer></docs-footer>
    </section>
  </kemet-drawer>
{% include 'partials/footer.html' %}
